.logo img{
    width: 35px;
    height: 35px;   
}
.navbar{
 background-color: #97E7E1;
}
.tutorial{
    width: 500px;
    height: 300px;
  /* border: 1px solid black;
    border-radius: 5px; */
    margin:20px 0 0 20px;
}

.tutodiv{
    display: flex;
    justify-content: center;
}

.tutopara{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    align-items: center;
}

.parabox{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.basicdiv{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin:30px 0 0 20px;   
}

 .maindiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 .basepara{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 33px;
 }

 .basicdiv:hover{
    background-color: #6AD4DD;
    box-shadow: 3px 3px 4px gray;
    
 }
 .body{
    background-color: #F8F6E3;
 }

 .headings{
    background-color:#9ee4df ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
.paragraph{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
 
.button:hover{
    background-color:#6AD4DD ;
}
.box{
    background-color: #9bbdc1;
    width: 280px;
    height: 40px;
    margin-left: 5px;
}
.box1{
    background-color: #9bbdc1;
    width: 280px;
    height: 180px;
    margin-left: 5px;
}
.para{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box2{
    background-color: #9bbdc1;
    width: 369px;
    height: 40px;
    margin-left: 7px;
}  
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: 10px;
    padding: 5px;
  }  
  .box3{
    background-color:#9bbdc1;
    width: 310px;
    height: 200px;
    margin-left: 7px;
  }
  .box4{
    background-color: #9bbdc1;
    width: 310px;
    height: 150px;
    margin-left: 7px;
  }

  .box5{
    background-color: #9bbdc1;
    width: 390px;
    height: 100px;
    margin-left: 7px;
  }

  .box6{
    background-color: #9bbdc1;
    width: 295px;
    height: 295px;
    margin-left: 5px;
  }
  .box7{
    background-color: #9bbdc1;
    width: 295px;
    height: 400px;
    margin-left: 5px;
  }
  .box8{
    background-color: #9bbdc1;
    width: 255px;
    height: 215px;
    margin-left: 5px;
  }

  .box9{
    background-color: #9bbdc1;
    width: 255px;
    height: 260px;
    margin-left: 5px;
  }
  .box10{
    background-color: #9bbdc1;
    width: 500px;
    height: 150px;
    margin-left: 5px;
  }
  .box11{
    background-color: #9bbdc1;
    width: 800px;
    height: 200px;
    margin-left: 5px;
  }

  .box12{
    background-color: #9bbdc1;
    width: 600px;
    height: 195px;
    margin-left: 5px;
  }
  .box13{
    background-color: #9bbdc1;
    width: 600px;
    height: 253px;
    margin-left: 5px;
  }
  .box14{
    background-color: #9bbdc1;
    width: 375px;
    height: 100px;
    margin-left: 7px;
  }
  .box15{
    background-color: #9bbdc1;
    width: 420px;
    height: 295px;
    margin-left: 7px;
  }
  .box16{
    background-color: #9bbdc1;
    width: 427px;
    height: 380px;
    margin-left: 7px;
  }
  .box17{
    background-color: #9bbdc1;
    width: 430px;
    height: 570px;
    margin-left: 7px;
  }
  .box18{
    background-color: #9bbdc1;
    width: 250px;
    height: 210px;
    margin-left: 7px;
  }
  .box19{
    background-color: #9bbdc1;
    width: 500px;
    height: 175px;
    margin-left: 7px;
  }
  .box20{
    background-color: #9bbdc1;
    width: 450px;
    height: 300px;
    margin-left: 7px;
  }
  .box21{
    background-color: #9bbdc1;
    width: 450px;
    height: 140px;
    margin-left: 7px;
  }
  .btn{
    background-color:#9ee4df ;
  }
  @media screen and (max-width:900px){


    .basicdiv{
      width: 140px;
      height: 90px;
      border: 1px solid black;
      border-radius: 2px;
      margin:15px 0 0 10px;   
  }
  .basepara{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
 }

 .basicdiv:hover{
    background-color: #6AD4DD;
    box-shadow: 1px 1px 2px gray;
    
  

  }
}